html{
  scroll-snap-type: y mandatory;
}
.app{
  text-align: center;
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: #ffffff;
}

.app_top {
  margin-bottom: -50px;
}

.app_videos {
  position: relative;
  height: 70vh;
  background-color: white;
  width: 90%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.app_videos::-webkit-scrollbar {
  display: none;
}
.app_videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (max-width:360px){

}